networks:
  academy_network:
    driver: bridge 

services:
  db:
    build: database
    container_name: database
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - academy_network
    
volumes:
  postgres-data: